<div>
  <p class='name'>{{firstName}} {{lastName}}</p>
  <p><span>{{professionLabel}}: </span><span
      class='profession'
    >{{profession}}</span></p>
  <p><span>{{characteristicLabel}}: </span><span
      class='characteristic'
    >{{characteristic}}</span></p>
  <p><span>{{activityLabel}}: </span><span
      class='activity'
    >{{activity}}</span></p>
</div>