<div>
  <p><span>{{localize 'coriolisNpcGenerator.nameLabel'}}: </span><span
      class='name'
    >{{firstName}}
      {{lastName}}</span></p>
  <p><span>{{localize 'coriolisNpcGenerator.professionLabel'}}: </span><span
      class='profession'
    >{{profession}}</span></p>
  <p><span>{{localize 'coriolisNpcGenerator.characteristicLabel'}}: </span><span
      class='characteristic'
    >{{characteristic}}</span></p>
  <p><span>{{localize 'coriolisNpcGenerator.activityLabel'}}: </span><span
      class='activity'
    >{{activity}}</span></p>
</div>