<div>
  <p class='name'>{{firstName}} {{lastName}}</p>
  <p class='profession'>{{professionLabel}}: {{profession}}</p>
  <p class='characteristic'>{{characteristicLabel}}: {{characteristic}}</p>
  <p class='activity'>{{activityLabel}}: {{activity}}</p>
</div>